*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #921A40;
    text-align: center;
}
h1{
    color: #D9ABAB;
    /* background-color: #D9ABAB; */
}

.container{
    margin-top: 40px;
    height: 70vh;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.game{
    height: 60vmin;
    width: 60vmin;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
}

.box{
    height: 17vmin;
    width: 17vmin;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 1rem black;
    font-size: 35px;
    color: black;
    background-color: #D9ABAB;
}

#new-game{
    margin-top: 5px;;
    color: black;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    background-color: black;
    color: white;
    gap: 15px;
}
#reset-btn{
    color: black;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    background-color: black;
    color: white;
    gap: 15px;
}

#win{
    margin-top: 20px;
    font-size: 50px;
    color: azure;
}
.msg-container{
    height: 15vmin;
    
}

.hide{
    display: none;
}
